<div class="index-wrapper">
  <div class="contents-divider">
    <div class="row flex-nowrap">
      <%= render partial: "layouts/sidebar" %>
      <div class="contents">
        <div class="page-title">
          <span class="sub-title">目標を作る</span>
        </div> 
        <div class="page-body">
          <!--div class="row"-->
            <%= form_for @project do |f| %>
              <div class="form-position">
                <%= f.label :タイトル, class: 'form-label' %>
                <%= f.text_field :title, class: 'form-control form-title' %> 
              </div>
              <div class="form-position">
                <%= f.label :取り組む意気込み, class: 'form-label' %>
                <%= f.text_field :description, class: 'form-control form-description' %> 
              </div>
              <div class="form-position">
                <%= f.label :頑張る期限, class: 'form-label' %>
                <%= f.date_field :duedate, class: 'form-control form-duedate' %> 
              </div>
              <div class="form-position">
                <%= f.label :'頑張る時間(時間)', class: 'form-label' %>
                <%= f.text_field :target_time, class: 'form-control form-target-time' %> 
              </div>
              <%= f.hidden_field :actual_time, value: 0 %>
              <%# if logged_in? %>
                <%= f.submit '目標を登録する', class: 'btn btn-outline-warning btn-top' %> 
              <%# end %>
            <% end %>
          <!--/div-->
        </div>
      </div>
    </div>
  </div>
</div>
