<div class="index-wrapper">
  <div class="contents-divider">
    <div class="row flex-nowrap">
      <%= render partial: "layouts/sidebar" %>
      <% if @project.status.blank? %>
        <div class="contents">
          <div class="page-title">
            <h3 class="sub-title"><%= @project.title %></h3>
          </div> 
          <div class="page-body">
            <div class="time">
              <div class="title">
                <span class="sub-title">頑張り時間</span>
              </div>
              <table class="time-table">
                <tr>
                  <td class="column1">これまでの合計</td>
                  <td class="column2"><%= @project_time %> 時間</td>
                  <td class="column3"> </td>
                </tr>
                <tr>
                  <td class="column1">時間達成率</td>
                  <td class="column2"><%= @project_achievement_ratio %> %</td>
                  <td class="column3"> </td>
                </tr>
                <tr>
                  <td class="column1">最後の時間登録</td>
                  <td class="column2">
                    <% if @project_last_update.blank? %>
                      <span>一度も時間登録されていません</span>
                    <% else %>
                      <%= @project_last_update.strftime("%Y年%m月%d日 %k時%M分") %>
                    <% end %>
                  </td>
                  <td class="column3"><button class="btn btn-outline-warning btn-sm background-white"><%=link_to time_path do %>つける<% end %></li></button></td>
                </tr>
              </table>
            </div>
            <hr>
            <div class="goal">
              <div class="title">
                <span class="sub-title">目標　　</span>
                <button class="btn btn-outline-warning btn-sm background-white"><%= link_to projects_goal_path(project_id: params[:id]) do %>直す<% end %></button>
              </div>
              <table class="target-table">
                <tr>
                  <td class="column1">取り組む意気込み</td>
                  <td class="column4"><%= safe_join(@project.description.split("\n"),tag(:br)) %></td>
                </tr>
                <tr>
                  <td class="column1">頑張る期限</td>
                  <td class="column4"><%= @project.duedate.strftime("%Y年%m月%d日") %></td>
                </tr>
                <tr>
                  <td class="column1">頑張る時間</td>
                  <td class="column4"><%= @project.target_time %> 時間</td>
                </tr>
              </table>
            </div>
            <hr>
            <div class="result">
              <div class="title">
                <span class="sub-title">結果　　</span>
                <button class="btn btn-outline-warning btn-sm background-white"><%= link_to result_path(project_id: params[:id]) do %>入れる<% end %></button>
              </div>
              <table class="result-table">
                <tr>
                  <td class="column1">目標の達成度合い</td>
                  <td class="column4">
                    <% if @project.level_of_achievement.blank? %>
                      <span>(未入力です)</span>
                    <% else %>
                      <%= @project.level_of_achievement %> %
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="column1">コメント</td>
                  <td class="column4">
                    <% if @project.comment.blank? %>
                      <span>(未入力です)</span>
                    <% else %>
                      <%= safe_join(@project.comment.split("\n"),tag(:br)) %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
            <%= form_with model: @project, url: { controller: 'projects', action: 'update' } do |f| %>
              <%= f.hidden_field :status, value: 'done' %>
              <%= f.hidden_field :id, value: @project.id %>
              <%= f.submit '目標を完了にする', class: 'btn btn-warning' %> 
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="contents">
          <div class="page-body">
            <div class="goal">
              <div class="title">
                <p class="sub-title">目標</p>
              </div>
              <table class="target-table">
                <tr>
                  <td class="column1">タイトル</td>
                  <td class="column4"><%= @project.title %></td>
                </tr>
                <tr>
                  <td class="column1">取り組む意気込み</td>
                  <td class="column4"><%= safe_join(@project.description.split("\n"),tag(:br)) %></td>
                </tr>
                <tr>
                  <td class="column1">頑張る期限</td>
                  <td class="column4"><%= @project.duedate.strftime("%Y年%m月%d日") %></td>
                </tr>
                <tr>
                  <td class="column1">頑張る時間</td>
                  <td class="column4"><%= @project.target_time %> 時間</td>
                </tr>
              </table>
            </div>
            <div class="time">
              <div class="title">
                <p class="sub-title">頑張り時間</p>
              </div>
              <table class="time-table">
                <tr>
                  <td class="column1">合計</td>
                  <td class="column4"><%= @project.actual_time %> 時間</td>
                </tr>
                <tr>
                  <td class="column1">時間達成率</td>
                  <td class="column4"><%= @project_achievement_ratio %> %</td>
                </tr>
              </table>
            </div>
            <div class="result">
              <div class="title">
                <p class="sub-title">結果</p>
              </div>
              <table class="result-table">
                <tr>
                  <td class="column1">目標の達成度合い</td>
                  <td class="column4"><%= @project.level_of_achievement %> %</td>
                </tr>
                <tr>
                  <td class="column1">コメント</td>
                  <td class="column4"><%= safe_join(@project.comment.split("\n"),tag(:br)) %></td>
                </tr>
              </table>
            </div>
            <button class="btn btn-outline-warning background-white">
              <span>目標を取り組み中に戻す</span>
            </button>
            <button class="btn btn-outline-warning background-white">
              <span>目標を削除する</span>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>